/* Header CSS for laptops and big screens */

@media screen and (min-width: 1080px) {


    .header {
        position: relative;
        height: 100vh;
        background: linear-gradient(#333333, #232323);
    }

    nav {
        position: sticky;
        top: 0px;
    }

    #menuToggle {
        display: none;
    }

    .menuFixed {
        background-color: var(--background_light);
        height: 100px;
        box-shadow: 2px 2px 2px black;
    }

    .menuFixed .logo {
        position: relative;
        float: left;
    }

    .links ul {
        float: right;
        width: 600px;
        height: 100px;
        margin: auto;
        display: flex;
        justify-content: space-evenly;
        align-items: center;

    }

    .links li {
        width: 120px;
        height: 50px;
        text-align: center;

    }

    .links a {
        display: block;
        background-color: var(--background_light);
        width: 120px;
        height: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        text-decoration: none;
        color: var(--font_dark);
        border-radius: 15px;
        transition: background-color 0.3s ease, color 0.3s ease;
    }

    .links a:hover {
        background-color: var(--background_dark);
        color: var(--font_light);
        border-radius: 15px;
    }

    .home h1 {
        margin-top: 30vh;
        font-size: 40px;
    }

  
    
}


