/* General */

:root {
    --background_dark: #232323;
    --background_light: #cdcdcd;
    --font_dark: #232323;
    --font_light: #cdcdcd;
}

body {
  margin: 0; 
  padding: 0;
  background: var(--background_dark);
  color: var(--font_light);
  font-family: 'Courier New', Courier, monospace;
}
